In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

As before, make sure that you see the output above in your notebook before continuing.  

Once all of the code runs successfully, all of the data (in **train.csv** and **test.csv**) is loaded in the notebook.  (_The code above shows only the first 5 rows of each table, but all of the data is there -- all 891 rows of **train.csv** and all 418 rows of **test.csv**!_)

# Part 3: Your first submission

Remember our goal: we want to find patterns in **train.csv** that help us predict whether the passengers in **test.csv** survived.

It might initially feel overwhelming to look for patterns, when there's so much data to sort through.  So, we'll start simple.

## Explore a pattern

Remember that the sample submission file in **gender_submission.csv** assumes that all female passengers survived (and all male passengers died).  

Is this a reasonable first guess?  We'll check if this pattern holds true in the data (in **train.csv**).

Copy the code below into a new code cell.  Then, run the cell.

Before moving on, make sure that your code returns the output above.  The code above calculates the percentage of female passengers (in **train.csv**) who survived.

Then, run the code below in another code cell:

In [4]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [5]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [6]:
# from sklearn.ensemble import RandomForestClassifier

# y = train_data["Survived"]

# features = ["Pclass", "Sex", "SibSp", "Parch"]
# X = pd.get_dummies(train_data[features])
# X_test = pd.get_dummies(test_data[features])

# model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
# model.fit(X, y)
# predictions = model.predict(X_test)

# output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
# output.to_csv('submission.csv', index=False)
# print("Your submission was successfully saved!")

Simply deploy a RandomeForestClassifer could have a score: 0.77511

In [7]:
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.dummy import DummyClassifier, DummyRegressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression, Ridge
from sklearn.model_selection import (
    GridSearchCV,
    RandomizedSearchCV,
    cross_val_score,
    cross_validate,
    train_test_split,
)
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler
from sklearn.svm import SVC, SVR
from sklearn.tree import DecisionTreeClassifier
from utils import *
from sklearn.base import BaseEstimator, TransformerMixin

In [9]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

There are few columns containing NAs: Age, Cabin, and Embarked.

Age contains 177 NAs (about 19.8%).
Cabin contains 687 NAs (about 77.1%).
Embarked contains only 2 NAs.

PassengerId and Ticket contain 891 unique values and could be noise while making predictions, so I decide to rule out them later.

Cabin contains about 77.1% NAs values, I decide to rule out it later.

In [10]:
drop_feats = ["PassengerId", "Ticket", "Cabin"]

In [11]:
X_train = train_data.drop(columns=["Survived"])
y_train = train_data["Survived"]

Name contains some unique information as well. However, the titles of address, such as "Mr."、"Mrs."、"Miss." and "Ms.", might be useful! 

Let's define a function to extract the titles from the original 'Name; column.

In [12]:
import re

def extract_title(name):
    match = re.search(r'\b(Mr|Mrs|Miss|Ms|Master|Don|Rev|Dr|Mme|Major|Col|Capt|Mlle|Countess|Jonkheer)\b', name)
    if match:
        return match.group()
    else:
        print(f"No title found in: {name}")  # print a message if no title found
        return "NA"

In [13]:
X_train['Title'] = X_train['Name'].apply(extract_title)

print(X_train[['Name', 'Title']])

                                                  Name Title
0                              Braund, Mr. Owen Harris    Mr
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   Mrs
2                               Heikkinen, Miss. Laina  Miss
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   Mrs
4                             Allen, Mr. William Henry    Mr
..                                                 ...   ...
886                              Montvila, Rev. Juozas   Rev
887                       Graham, Miss. Margaret Edith  Miss
888           Johnston, Miss. Catherine Helen "Carrie"  Miss
889                              Behr, Mr. Karl Howell    Mr
890                                Dooley, Mr. Patrick    Mr

[891 rows x 2 columns]

Great! Everyone's title was extracted successfully! We have achieved useful information, so it is all good to drop the column "Name"

In [14]:
X_train

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rev
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr

In [15]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
Title          891 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB

Let's continue to pre-process our data.

In [16]:
numeric_feats = ["Age", "SibSp","Parch","Fare"] # apply imputing and scaling
categorical_feats = ["Embarked"]  # apply imputing and one-hot encoding
binary_feats = ['Sex']
passthrough_feats = ["Pclass"]  # do not apply any transformation
drop_feats = ["PassengerId", "Ticket", "Cabin","Title"] #add "Title"

In [17]:
numeric_feats_transformer = make_pipeline(SimpleImputer(strategy="median"), StandardScaler())

binary_feats_transformer = make_pipeline(
    SimpleImputer(strategy="most_frequent"),
    OneHotEncoder(drop="first", dtype=int)
)

ordinal_feats_transformer = make_pipeline(
    SimpleImputer(strategy="constant", fill_value="missing"),
    OneHotEncoder(handle_unknown="ignore", sparse=False),
)

preprocessor = ColumnTransformer(
    transformers=[
        ('numeric_transformer', numeric_feats_transformer, numeric_feats),
        ('binary_transformer', binary_feats_transformer, binary_feats),
        ('ordinal_transformer', ordinal_feats_transformer, categorical_feats),
        ('passthrough', 'passthrough', passthrough_feats),
        ('drop', 'drop', drop_feats)
    ]
)

In [18]:
preprocessor

ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
                  transformer_weights=None,
                  transformers=[('numeric_transformer',
                                 Pipeline(memory=None,
                                          steps=[('simpleimputer',
                                                  SimpleImputer(add_indicator=False,
                                                                copy=True,
                                                                fill_value=None,
                                                                missing_values=nan,
                                                                strategy='median',
                                                                verbose=0)),
                                                 ('standardscaler',
                                                  StandardScaler(copy=True,
                                                                 with_mean=True,
                                                                 with_std...
                                                                missing_values=nan,
                                                                strategy='constant',
                                                                verbose=0)),
                                                 ('onehotencoder',
                                                  OneHotEncoder(categorical_features=None,
                                                                categories=None,
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='ignore',
                                                                n_values=None,
                                                                sparse=False))],
                                          verbose=False),
                                 ['Embarked']),
                                ('passthrough', 'passthrough', ['Pclass']),
                                ('drop', 'drop',
                                 ['PassengerId', 'Ticket', 'Cabin', 'Title'])],
                  verbose=False)

In [19]:
X_train_transformed = preprocessor.fit_transform(X_train)

In [20]:
# get new ordinal column names
ordinal_transformer = preprocessor.named_transformers_['ordinal_transformer']
ordinal_columns = ordinal_transformer.named_steps['onehotencoder'].get_feature_names().tolist()

In [21]:
ordinal_columns

['x0_C', 'x0_Q', 'x0_S', 'x0_missing']

In [22]:
new_column_names = numeric_feats + binary_feats + ordinal_columns +  passthrough_feats
new_column_names

['Age',
 'SibSp',
 'Parch',
 'Fare',
 'Sex',
 'x0_C',
 'x0_Q',
 'x0_S',
 'x0_missing',
 'Pclass']

In [23]:
X_train_transformed_df = pd.DataFrame(X_train_transformed, columns=new_column_names)
X_train_transformed_df

,Age,SibSp,Parch,Fare,Sex,x0_C,x0_Q,x0_S,x0_missing,Pclass
0,-0.565736,0.432793,-0.473674,-0.502445,1.0,0.0,0.0,1.0,0.0,3.0
1,0.663861,0.432793,-0.473674,0.786845,0.0,1.0,0.0,0.0,0.0,1.0
2,-0.258337,-0.474545,-0.473674,-0.488854,0.0,0.0,0.0,1.0,0.0,3.0
3,0.433312,0.432793,-0.473674,0.420730,0.0,0.0,0.0,1.0,0.0,1.0
4,0.433312,-0.474545,-0.473674,-0.486337,1.0,0.0,0.0,1.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...
886,-0.181487,-0.474545,-0.473674,-0.386671,1.0,0.0,0.0,1.0,0.0,2.0
887,-0.796286,-0.474545,-0.473674,-0.044381,0.0,0.0,0.0,1.0,0.0,1.0
888,-0.104637,0.432793,2.008933,-0.176263,0.0,0.0,0.0,1.0,0.0,3.0
889,-0.258337,-0.474545,-0.473674,-0.044381,1.0,1.0,0.0,0.0,0.0,1.0
890,0.202762,-0.474545,-0.473674,-0.492378,1.0,0.0,1.0,0.0,0.0,3.0

We have done the data processing.

Try some models

****Model Selection****

In [24]:
def mean_std_cross_val_scores(model, X_train, y_train, **kwargs):
    """
    Returns mean and std of cross validation

    Parameters
    ----------
    model :
        scikit-learn model
    X_train : numpy array or pandas DataFrame
        X in the training data
    y_train :
        y in the training data

    Returns
    ----------
        pandas Series with mean scores from cross_validation
    """

    scores = cross_validate(model, X_train, y_train, **kwargs)

    mean_scores = pd.DataFrame(scores).mean()
    std_scores = pd.DataFrame(scores).std()
    out_col = []

    for i in range(len(mean_scores)):
        out_col.append((f"%0.3f (+/- %0.3f)" % (mean_scores[i], std_scores[i])))

    return pd.Series(data=out_col, index=mean_scores.index)

In [25]:
results = {}
scoring_metric = 'accuracy'

dummy = DummyClassifier()
results["Dummy"] = mean_std_cross_val_scores(
    dummy, X_train, y_train, return_train_score=True, scoring=scoring_metric
)

/opt/conda/lib/python3.6/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

In [26]:
from lightgbm.sklearn import LGBMClassifier
from xgboost import XGBClassifier

pipe_lr = make_pipeline(
    preprocessor, LogisticRegression(max_iter=2000, random_state=123)
)
pipe_rf = make_pipeline(preprocessor, RandomForestClassifier(random_state=123))
pipe_xgb = make_pipeline(
    preprocessor, XGBClassifier(random_state=123, eval_metric="logloss", verbosity=0)
)
pipe_lgbm = make_pipeline(preprocessor, LGBMClassifier(random_state=123, verbose=-1))
classifiers = {
    "logistic regression": pipe_lr,
    "random forest": pipe_rf,
    "XGBoost": pipe_xgb,
    "LightGBM": pipe_lgbm,
}

In [27]:
for (name, model) in classifiers.items():
    results[name] = mean_std_cross_val_scores(
        model, X_train, y_train, return_train_score=True, scoring=scoring_metric
    )

/opt/conda/lib/python3.6/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

In [28]:
pd.DataFrame(results).T

,fit_time,score_time,test_score,train_score
Dummy,0.002 (+/- 0.000),0.001 (+/- 0.001),0.512 (+/- 0.018),0.527 (+/- 0.016)
logistic regression,0.026 (+/- 0.006),0.011 (+/- 0.001),0.789 (+/- 0.007),0.808 (+/- 0.003)
random forest,0.038 (+/- 0.001),0.012 (+/- 0.001),0.793 (+/- 0.020),0.973 (+/- 0.012)
XGBoost,0.073 (+/- 0.005),0.013 (+/- 0.001),0.814 (+/- 0.020),0.886 (+/- 0.021)
LightGBM,0.075 (+/- 0.009),0.014 (+/- 0.001),0.822 (+/- 0.021),0.943 (+/- 0.017)

Among the four non-dummy models, Logisitic regression has the highest average testing score and lowest training score, indicating it is the least overfitting and best performing model. Meanwhile, the predictions made by Logistic regression are quite interpretable, which is a significant advantage. Therefore, we could try to tune logisiric regression.

In [29]:
pipe_lr = make_pipeline(preprocessor, LogisticRegression(random_state = 123))
param_grid = {
    "logisticregression__solver":['liblinear'], # choose "liblinear" because of the small size of our dataset
    "logisticregression__penalty": ['l1','l2'],
    "logisticregression__C": [100, 10, 1.0, 0.1, 0.01],
}

# Create a grid search object 
gs = GridSearchCV(pipe_lr, 
                  param_grid = param_grid, 
                  n_jobs=-1, 
                  return_train_score=True
                 )

In [30]:
gs

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=Pipeline(memory=None,
                                steps=[('columntransformer',
                                        ColumnTransformer(n_jobs=None,
                                                          remainder='drop',
                                                          sparse_threshold=0.3,
                                                          transformer_weights=None,
                                                          transformers=[('numeric_transformer',
                                                                         Pipeline(memory=None,
                                                                                  steps=[('simpleimputer',
                                                                                          SimpleImputer(add_indicator=False,
                                                                                                        copy=True,
                                                                                                        fill_value=None,
                                                                                                        m...
                                                           n_jobs=None,
                                                           penalty='l2',
                                                           random_state=123,
                                                           solver='warn',
                                                           tol=0.0001,
                                                           verbose=0,
                                                           warm_start=False))],
                                verbose=False),
             iid='warn', n_jobs=-1,
             param_grid={'logisticregression__C': [100, 10, 1.0, 0.1, 0.01],
                         'logisticregression__penalty': ['l1', 'l2'],
                         'logisticregression__solver': ['liblinear']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring=None, verbose=0)

In [31]:
gs.fit(X_train, y_train)

/opt/conda/lib/python3.6/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=Pipeline(memory=None,
                                steps=[('columntransformer',
                                        ColumnTransformer(n_jobs=None,
                                                          remainder='drop',
                                                          sparse_threshold=0.3,
                                                          transformer_weights=None,
                                                          transformers=[('numeric_transformer',
                                                                         Pipeline(memory=None,
                                                                                  steps=[('simpleimputer',
                                                                                          SimpleImputer(add_indicator=False,
                                                                                                        copy=True,
                                                                                                        fill_value=None,
                                                                                                        m...
                                                           n_jobs=None,
                                                           penalty='l2',
                                                           random_state=123,
                                                           solver='warn',
                                                           tol=0.0001,
                                                           verbose=0,
                                                           warm_start=False))],
                                verbose=False),
             iid='warn', n_jobs=-1,
             param_grid={'logisticregression__C': [100, 10, 1.0, 0.1, 0.01],
                         'logisticregression__penalty': ['l1', 'l2'],
                         'logisticregression__solver': ['liblinear']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring=None, verbose=0)

In [32]:
# Get the best score
gs.best_score_

0.7934904601571269

In [33]:
# Get the best hyperparameter values
gs.best_params_

{'logisticregression__C': 0.1,
 'logisticregression__penalty': 'l1',
 'logisticregression__solver': 'liblinear'}

In [34]:
pd.DataFrame(gs.cv_results_)[
    [
        "mean_test_score",
        "param_logisticregression__solver", 
        "param_logisticregression__penalty",
        "param_logisticregression__C",
        "rank_test_score",
    ]
].set_index("rank_test_score").sort_index().T

rank_test_score,1,2,3,3,5,5,5,8,9,10
mean_test_score,0.79349,0.789001,0.787879,0.787879,0.786756,0.786756,0.786756,0.776655,0.69697,0.616162
param_logisticregression__solver,liblinear,liblinear,liblinear,liblinear,liblinear,liblinear,liblinear,liblinear,liblinear,liblinear
param_logisticregression__penalty,l1,l2,l2,l1,l1,l2,l1,l2,l2,l1
param_logisticregression__C,0.1,1,10,1,100,100,10,0.1,0.01,0.01

The GridSearchCV summary table reveals an interesting pattern: For C values of 1, 100, and 10, a penalty of l1 appears to be the superior choice. Conversely, for less optimal C values of 0.1 and 0.01, a penalty of l2 proves to be more effective.

The l1 penalty, known for inducing sparsity by pushing some coefficients to exactly zero, suggests that a simpler model with fewer features might be advantageous if only a subset of features significantly influences the target variable. This observation warrants a closer examination of feature importance to identify which features are most predictive of the outcome, thereby potentially enhancing model interpretability and performance.

In [35]:
pipe_lr_optimized = make_pipeline(preprocessor, LogisticRegression(solver = "liblinear", penalty = "l1", 
                                                                   C = 1))
pipe_lr_optimized.fit(X_train, y_train);

data = {
    "coefficient": pipe_lr_optimized.named_steps["logisticregression"].coef_.flatten().tolist(),
    "magnitude": np.absolute(
        pipe_lr_optimized.named_steps["logisticregression"].coef_.flatten().tolist()
    ),
}
coef_df = pd.DataFrame(data, index=new_column_names).sort_values(
    "magnitude", ascending=False
)

In [36]:
coef_df

            coefficient  magnitude
Sex           -2.643131   2.643131
Pclass        -1.024916   1.024916
Age           -0.476010   0.476010
SibSp         -0.343310   0.343310
x0_S          -0.251094   0.251094
x0_C           0.118277   0.118277
Fare           0.112373   0.112373
Parch         -0.064758   0.064758
x0_Q           0.000000   0.000000
x0_missing     0.000000   0.000000

In [37]:
non_zero_feats = coef_df.iloc[0:11].index.tolist()
non_zero_feats

['Sex',
 'Pclass',
 'Age',
 'SibSp',
 'x0_S',
 'x0_C',
 'Fare',
 'Parch',
 'x0_Q',
 'x0_missing']

**Deploy the fine tuned LR model**

In [38]:
X_test = test_data

X_test['Title'] = X_test['Name'].apply(extract_title)

print(X_test[['Name', 'Title']])

No title found in: Oliva y Ocana, Dona. Fermina
                                             Name   Title
0                                Kelly, Mr. James      Mr
1                Wilkes, Mrs. James (Ellen Needs)     Mrs
2                       Myles, Mr. Thomas Francis      Mr
3                                Wirz, Mr. Albert      Mr
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)     Mrs
..                                            ...     ...
413                            Spector, Mr. Woolf      Mr
414                  Oliva y Ocana, Dona. Fermina      NA
415                  Saether, Mr. Simon Sivertsen      Mr
416                           Ware, Mr. Frederick      Mr
417                      Peter, Master. Michael J  Master

[418 rows x 2 columns]

In [39]:
X_train

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rev
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr

In [40]:
# pipe_lr_optimized.fit(X_train, y_train)
# predictions = pipe_lr_optimized.predict(X_test)

# output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
# output.to_csv('submission.csv', index=False)
# print("Your submission was successfully saved!")

Fine tuned lr testing score ==0.77033

In [41]:
pipe_lgbm.fit(X_train, y_train)
predictions = pipe_lgbm.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

LightGBM == 74.88

pipe_xgb == 0.76076